* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
    width: 100%;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
}
.logo{

    width: 160px;
    height: 40px;
    border: 1px solid black;
}
.logo img {
    width: 100%;
    height: 100%;
    margin-top: 5px;

}
.menubar{
    border: 2px solid rebeccapurple;
}
.menubar ul {
    display: flex;
    justify-content: space-between;
}

.menubar ul li a {
    justify-content: center;
    margin-left: 30px;
}
#navimg{
    width: 24px;
    height: 24px;
    margin-right: 5px;
}