* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}

header {
    width: 100%;
    height: 70px;
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.762);
}

.logo img {
    width: 40px;
    margin-top: 50%;
    margin-left: 5px;
}

.links ul li {
    display: flex;
    float: left;
    justify-content: space-evenly;
    margin-left: 20px;
    margin-top: 25px;
    list-style: none;
}

.links ul li a {
    text-decoration: none;
    color: white;
    font-size: large;
    /* border: 0.3px solid black; */
    padding: 5px;
    /* border-radius: 3px; */
}

.links ul li a:hover {
    background-color: rgba(211, 211, 211, 0.52);
    /* transition-duration: 0.1s; */
    border-radius: 10px;
}

#button a {
    background-color: lightgreen;
    border-radius: 5px;
    margin-right: 5px;
}

main {
    width: 100%;
    height: 500px;
    border: 2px solid black;
}

.desc h1 {
    text-align: center;
    margin-top: 100px;
}

.search {
    display: flex;
    justify-content: center;
    /* border: 2px solid black; */
}

.search input {
    width: 920px;
    /* margin-left: 150px; */
    margin-top: 50px;
    height: 56px;
    border-radius: 20px;
    background-color: rgba(128, 128, 128, 0.264);
}

.buttons {
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.buttons button {
    height: 30px;
    ;
    padding: 30px;
    border: 5px;
}