* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    background-color: rgb(255, 255, 255);
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.logo img {
    width: 50px;
    float: left;
    margin: 5px;
}

.navbar ul a img {
    width: 40px;
    margin-top: 10px;
    margin-right: 5px;
}

.navbar ul a img:hover {
    transform: scale(1.1);
    transition-duration: 0.8s;
}

.navbar ul li {
    display: flex;
    justify-content: space-evenly;
    float: left;
    list-style: none;
}

.navbar ul li a {
    font-weight: bold;
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin: 20px;
    align-items: center;
}

.navbar ul li a:hover {
    border-bottom: 2px solid black;
}

.heading {
    background-color: gray;
    text-align: center;
    color: white;
}

.heading marquee {
    display: flex;
    flex-wrap: wrap;
    background-color: black;
}

main {
    display: flex;
    flex-direction: column;
}

.card {
    width: 100%;
    background-color: black;
    /* border: 2px solid green; */
    flex-wrap: wrap;
    display: flex;
    float: left;
    margin-right: 5px;
    justify-content: space-evenly;
}

.products {
    /* border: 3px solid black; */
    width: 300PX;

}

.image {
    height: 400px;
    margin-top: 20px;
    /* border: 2px solid black; */

}

.image img {
    width: 300px;
    height: 400px;
    border-radius: 40px 40px 10px 10px;
    box-shadow: 0px 6px 5px rgba(128, 128, 128, 0.816);
}

.image img:hover {
    transform: scale(1.07);
    transition-duration: 0.8s;
    transition-timing-function: ease;
}

.detail {
    margin-bottom: 10px;
    /* border: 2px solid red; */
    height: 150px;
    background-color: rgb(77, 248, 68);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 10px;
}

.detail h1,
h2 {
    margin: 5px;
}

.detail h1 {
    color: white;
}

.btn1 {

    display: flex;
    float: left;
    justify-content: space-between;
}

.btn1 button {
    width: 100px;
    height: 40px;
    margin: 6px;
    background-color: rgb(252, 78, 4);
    color: white;
    border: 2px solid black;
    border-radius: 10px;
}

.btn1 button:hover {
    transform: scale(1.07);
    transition-duration: 0.7s;
    transition-timing-function: ease;
}

footer {
    width: 100%;
    height: auto;
    background-color: rgba(128, 128, 128, 0.156);
}

.foot ul li {
    display: flex;
    float: left;
    justify-content: space-evenly;
    margin: 20px;
    list-style: none;
}

.foot ul li a {
    text-decoration: none;
    color: rgb(100, 89, 89);
}