* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;

}

img {
    width: 30px;
}

header {
    border-radius: 2px;
    background-color: rgb(238, 234, 234);
    width: 100%;
    height: 60px;
    border: 1px solid gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo ul li {
    display: flex;
    justify-content: space-around;
    float: left;
}

.logo ul li img {
    margin-left: 10px;
}

.logo ul li a {
    margin-top: 5px;
    margin-left: 10px;
    text-decoration: none;
    color: black;
}

.links ul li {
    display: flex;
    justify-content: space-evenly;
    float: left;
}

.links ul li a {
    margin-right: 30px;
    justify-content: center;

}

.links ul li a img {
    border: 1px solid gray;
    border-radius: 2px;
    padding: 3px;
}

.links ul li input {
    width: 200px;
    height: 25px;
    border: 3px solid black;
    border-radius: 3px;
    margin-top: 3px;
    margin-right: 40px;
}

.links ul li a img:hover {
    transform: scale(1.03);
    transition-duration: 0.5s;
}

.hamburger {
    border: 1px solid gray;
    border-radius: 2px;
    padding: 3px;
}

.links ul li img {
    margin-right: 5px;
}